/*=============================================================================

  File:         /node_modules/rwt-nested-menu/rwt-nested-menu.css
  Language:     CSS
  Copyright:    Read Write Tools © 2020
  License:      MIT
  Initial date: Aug 22, 2020
  Contents:     Nested navigation menu with two entry levels

=============================================================================*/

:host {
	--pure-black: #000;
	--nav-black: #111;
	--light-black: #171717;
	--medium-black: #222;
	--black: #333;
	--dark-gray: #555;
	--gray: #777;
	--white: #ccc;
	--pure-white: #fff;
	--js-blue: #76afe8;
	--title-blue: #42affa;
	--yellow: #ffffa4;
	--red: #ff3d3d;
		
	/* custom element decorations */
	--color: var(--pure-white);
	--accent-color1: var(--title-blue);
	--accent-color2: var(--yellow);
	
	--menu-background: var(--medium-black);
	--group-background: var(--medium-black);
	--item-background: var(--black);
	--hover-background: var(--form-gray);
	--active-background: var(--pure-black);

	--thick-border: var(--pure-black);
	--thin-border: var(--light-black);
	--item-border: var(--white);

	/* custom element variables */	
	--menu-top: 0;
	--font-size: 0.8rem;
	--item-height: 2rem;
	--item-width: 11rem;
}

menu {
	position: fixed;
    top: var(--menu-top);
    width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: start; /* main-axis */
	align-content: center; /* cross-axis */
	max-width: var(--columns-width);
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: var(--menu-background);
	box-sizing: border-box;
	border-top: 1px solid var(--accent-color2);
	border-bottom: 1px solid var(--accent-color2);
}
menu.show-menu {
	display: flex;
}
menu.hide-menu {
	display: none;
}
menu a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: var(--font-size);
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
	height: var(--item-height);
	width: var(--item-width);
	color: var(--color);
	background-color: var(--group-background);
	text-align: center;
	break-inside: avoid;
	box-sizing: border-box;
	text-decoration: none;
	padding: calc((var(--item-height) - var(--font-size))/2) 0 0 0;
}
menu a:focus {
	font-weight: bold;
	outline-offset: -4px;
}
menu a:active {
	border-left: 4px solid var(--accent-color1);
	border-right: 4px solid var(--accent-color1);
}
menu a:hover {
	font-weight: bold;
	background-color: var(--hover-background);
}
.group {
	display: block;
	border-left: 4px solid var(--thick-border);
	border-bottom: 1px dotted var(--thin-border);
	border-right: 1px dotted var(--thin-border);
}
.activename.item {
	background-color: var(--active-background);
	color: var(--accent-color2);
}
.activename::before {
	content: '►\00a0';
	color: var(--accent-color2);
}
.activename::after {
	content: '\00a0◀';
	color: var(--accent-color2);
}
.open {
	color: var(--accent-color1);
	border-left: 4px solid var(--accent-color1);
}
.item {
	background-color: var(--item-background);
	border-left: 4px solid var(--item-border);
	border-bottom: 1px dotted var(--thin-border);
	border-right: 1px dotted var(--thin-border);
	display: none;
}
